* {
    /* el asterisco es el selector universal que se utiliza en CSS esto es para que todos los elementos dentro de la pagina ocupen el espaciado interno y externo*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* el cuerpo o fondo del sitio web*/
    background: black;
    color: white;
    background-color: #060606;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f40606' fill-opacity='0.5'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /*Se saco de la pagina HeroPatterns*/
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    /* Se Aplica solamente a los nombres del menu*/
    color: white;
    text-decoration: none;
}

ul {
    /* Aplica para quitarle el estilo predeterminado al menu*/
    list-style: none;
}

.container {
    /* Aplica para todo lo que esta dentro del contenido (container)*/
    width: 90%;
    margin: auto;
}


/*Navegacion de la pagina*/

.nav-main {
    /* Estilos de navegacion del menu*/
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    /* Aqui ajustaremos el tamaño del logotipo*/
    width: 150px;
}

.nav-main ul {
    /* Navegacion a la izquierda del logo*/
    display: flex
}

.nav-main ul li {
    /*Espaciado entre las partes del menu*/
    padding: 10px;
}

.nav-main ul li a:hover {
    /* se le añade la clase hover para meterle 
    estilos a las etiquetas a*/
    border-bottom: 2px solid #ffffff;
}

.nav-main ul.nav-menu {
    /*Para que el menu este a lado del logo*/
    flex: 1;
    margin-left: 50px;
}

.menu-btn {
    /* Boton menu para versiones moviles*/
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.8rem;
    display: none;
}


/*Showcase o imagen principal del sitio */

hr {
    /*Configuracion del espaciado del HR y la imagen principal*/
    margin: 15px 0;
}

.showcase {
    /* Configuracion de la imagen principal*/
    width: 100%;
    height: 550px;
    background: url(imagenes/5.-Noticias_Principales/Noticias_sobre_1.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    /* Configuracion dek boton Leer mas*/
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bolder;
    padding: 7px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 10;
}

.btn:hover {
    /*Aqui cambiaremos la opasidad de relleno del boton*/
    opacity: .7;
}

.showcase h2,
.showcase p {
    /*cambiaremos el estilo del texto de 
    la ventana principal*/
    margin-bottom: 0px;
}


/* News Cards o Seccion de las noticias*/

.news-cards {
    /*Estilizado de las secciones de noticias (News Cards)*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    /*Ajuste del Tamaño de las imagenes de esta seccion*/
    width: 100%;
    height: 150px;
}

.news-cards h3 {
    /* Aqui se modifican los H3 de las secciones de noti*/
    font-family: 'helvetica';
    font-size: 18px;
    margin: 10px 0;
}

.news-cards a {
    /*Aqui se modifican los enlaces a de la seccion noti*/
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bolder;
}

.news-cards a:hover {
    /*Se le pondra un subrayado a leer mas de noti*/
    text-decoration: underline;
}


/*Cards banner One o Seccion principal 2*/

.cards-banner-one {
    /*Tamaño y configuracion de la imag. seccion 2*/
    width: 100%;
    height: 350px;
    background: url("imagenes/5.-Noticias_Principales/Noticias_sobre_2.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content {
    /*Config del contenido seccion 2*/
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.cards-banner-one .p,
.cards-banner-one .h2 {
    /*centrado del contenido seccion 2*/
    margin: 10px 0 20px 0;
}


/*!--Cards Banner 2 o seccion principal 3*/

.cards-banner-two {
    /*Modificacion de los estilos banner */
    width: 100%;
    height: 300px;
    background: url("imagenes/5.-Noticias_Principales/Noticias_sobre_3.jpg") no-repeat center center/cover;
}

.cards-banner-two .content {
    /*Config del contenido seccion 3*/
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;
}


/*Redes Sociales*/

.social {
    margin: 50px;
}

.social p {
    /*Alineado del texto sigue a*/
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    /*Alineacion y centrado iconos de redes*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    /*Espaciado entre redes sociales*/
    margin: 0 30px;
}

.links a {
    /*Modificacion del Tamaño de redes sociales*/
    font-size: 2rem;
}


/*Footer links o Final de pagina (pie de pagina)*/

.footer-links {
    /*el encargado de color, tamaño del footer*/
    background: #2f3648;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    /*El encargado de centrar el contenido de footer*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    /*Configuracion de centrado de columnas Ul dentro de footer*/
    margin: 0 auto;
}

.footer-container ul li {
    /*Configuracion de listas li dentro de footer*/
    line-height: 2.0;
}

.footer {
    /*Configuracion del texto crimson copyright*/
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}


/*Herramientas para ajustar tamaño en dispositivos moviles a 700px*/

@media (max-width: 700px) {
    .menu-btn {
        /*Aqui es para que muestre el boton para el menu en moviles*/
        display: block;
    }
    .nav-main ul.nav-menu {
        /*Modificacion del menu para ser barra lateral transparente*/
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 85%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        /*aparece el menu desplegable en la pagina vista en moviles*/
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li {
        /*Espaciado entre las opciones del menu (li)*/
        padding: 20px;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right {
        /* edicion de espacio del boton para desplegar menu en moviles*/
        margin-right: 40px;
    }
    .news-cards {
        /*Modificacion de los recuadros de noticias de 4 a 2*/
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content {
        /*Modificacion del texto de las 2da y 3ra imagenes principales*/
        width: 80%;
    }
    .footer-links .footer-container {
        /*Modificacion de los recuadros del final de paguna de 4 a 2*/
        grid-template-columns: repeat(2, 1fr);
    }
}


/*Herramientas para ajustar tamaño en dispositivos moviles a 500px*/

@media (max-width: 500px) {
    .news-cards {
        /*La seccion noticias solamente se muestraran 1 a la vez*/
        grid-template-columns: 1fr;
    }
    .news-cards img {
        /*Tamaño de las img de esta seccion con resolucion de 500px*/
        height: 270px;
    }
    .cards-banner-one .content,
    .cards-banner-two .content {
        /*abarcacion del contenido para que abarque el 100% de los banners*/
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container {
        /*footer o final de pagina se pondran en 1 columnas*/
        grid-template-columns: 1fr;
    }
}